<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="ctl00_Head1">
    <title>
        职业成功路径调查问卷
    </title>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1><span>职业成功路径调查问卷</span></h1>

    <div>
        <span>
            <p>当我们面临职业生涯决定时，我们本身的才能、价值观和动力都会产生一定的作用。</p>
            <p>下面这份调查能够帮助你了解自己的职业定位。你不用担心自己没有能过测评，因为答案并无对错之分。</p>
            <p>每一题包括两项陈述，选择你觉得更符合或更贴近自己的选项。不要跳过任何一组陈述，也不要一组中两项陈述都选。回答过程不要斟酌太久。</p>
        </span>
    </div>


  <div id="ctl00_ContentPlaceHolder1_JQ1_surveyContent">
    <fieldset class='fieldset' id='fieldset1'>
        <div class='div_question' id='div1'>
            <div class='div_title_question_all'>
                <div id='divTitle1' class='div_title_question'>
                    1.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion1'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q1' id='q1_1' value='V' />
                        <label for='q1_1'>
                            我愿意将我和公司同仁组织起来，一起成功。V
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q1' id='q1_2' value='X' />
                        <label for='q1_2'>
                            我愿意在公司里自己做自己的事情。X
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div2'>
            <div class='div_title_question_all'>
                <div id='divTitle2' class='div_title_question'>
                    2.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion2'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q2' id='q2_1' value='Y' />
                        <label for='q2_1'>
                            工作很重要，娱乐休闲和发展重要关系也很重新，两者要相互平衡。Y
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q2' id='q2_2' value='V' />
                        <label for='q2_2'>
                            为了工作上进，个人的需求必需有所放弃。V
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div3'>
            <div class='div_title_question_all'>
                <div id='divTitle3' class='div_title_question'>
                    3.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion3'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q3' id='q3_1' value='W' />
                        <label for='q3_1'>
                            我愿意在一个鼓励努力工作、忠诚和敬业的公司中工作。W
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q3' id='q3_2' value='X' />
                        <label for='q3_2'>
                            我愿意去制定自己的目标，设定自己的节奏，并用自己的方式去完成。X
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div4'>
            <div class='div_title_question_all'>
                <div id='divTitle4' class='div_title_question'>
                    4.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion4'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q4' id='q4_1' value='V' />
                        <label for='q4_1'>
                            我积极进取并具有很好的分析能力和人际关系。V
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q4' id='q4_2' value='Y' />
                        <label for='q4_2'>
                            我在工作需求和家庭需求上能进行很好的协调。Y
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div5'>
            <div class='div_title_question_all'>
                <div id='divTitle5' class='div_title_question'>
                    5.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion5'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q5' id='q5_1' value='X' />
                        <label for='q5_1'>
                            我希望独立工作。X
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q5' id='q5_2' value='W' />
                        <label for='q5_2'>
                            我希望成为一个公司人。W
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div6'>
            <div class='div_title_question_all'>
                <div id='divTitle6' class='div_title_question'>
                    6.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion6'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q6' id='q6_1' value='Z' />
                        <label for='q6_1'>
                            我喜欢做顾问或者去解决问题，并且越是困难的项目越有激情。Z
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q6' id='q6_2' value='V' />
                        <label for='q6_2'>
                            我愿意做领导并负责实施一个具体的目标。V
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div7'>
            <div class='div_title_question_all'>
                <div id='divTitle7' class='div_title_question'>
                    7.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion7'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q7' id='q7_1' value='Y' />
                        <label for='q7_1'>
                            我的家人同我的事业一样重要。Y
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q7' id='q7_2' value='Z' />
                        <label for='q7_2'>
                            在非常投入某个项目的时候，我的家人排在第二位。Z
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div8'>
            <div class='div_title_question_all'>
                <div id='divTitle8' class='div_title_question'>
                    8. 对我而言，最重要的是：
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion8'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q8' id='q8_1' value='X' />
                        <label for='q8_1'>
                            自由。X
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q8' id='q8_2' value='Y' />
                        <label for='q8_2'>
                            保持工作和生活的平衡。Y
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div9'>
            <div class='div_title_question_all'>
                <div id='divTitle9' class='div_title_question'>
                    9.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion9'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q9' id='q9_1' value='W' />
                        <label for='q9_1'>
                            我有能力，忠诚，可信且工作努力。W
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q9' id='q9_2' value='V' />
                        <label for='q9_2'>
                            我在政治上有一套，是一个好的领导，一个好的管理者。V
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div id='divCut1'>
            <div class='div_title_cut_question'>
                <b>
                    <span style="font-size:18px;">
                        我可以被描述为：
                    </span>
                </b>
            </div>
        </div>
        <div class='div_question' id='div10'>
            <div class='div_title_question_all'>
                <div id='divTitle10' class='div_title_question'>
                    10.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion10'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q10' id='q10_1' value='X' />
                        <label for='q10_1'>
                            自力更生。X
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q10' id='q10_2' value='Y' />
                        <label for='q10_2'>
                            平衡得好。Y
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div11'>
            <div class='div_title_question_all'>
                <div id='divTitle11' class='div_title_question'>
                    11.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion11'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q11' id='q11_1' value='Z' />
                        <label for='q11_1'>
                            寻找刺激项目的人。Z
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q11' id='q11_2' value='X' />
                        <label for='q11_2'>
                            一个愿意做自己老板的人。X
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div12'>
            <div class='div_title_question_all'>
                <div id='divTitle12' class='div_title_question'>
                    12.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion12'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q12' id='q12_1' value='Y' />
                        <label for='q12_1'>
                            平衡但与人有距离。Y
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q12' id='q12_2' value='Z' />
                        <label for='q12_2'>
                            有想象力，热情。Z
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div13'>
            <div class='div_title_question_all'>
                <div id='divTitle13' class='div_title_question'>
                    13.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion13'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q13' id='q13_1' value='X' />
                        <label for='q13_1'>
                            自力更生，自给自足。X
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q13' id='q13_2' value='Z' />
                        <label for='q13_2'>
                            有想象力，热情。Z
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div14'>
            <div class='div_title_question_all'>
                <div id='divTitle14' class='div_title_question'>
                    14.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion14'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q14' id='q14_1' value='W' />
                        <label for='q14_1'>
                            稳定而顽强。W
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q14' id='q14_2' value='X' />
                        <label for='q14_2'>
                            独立和自我管理。X
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div15'>
            <div class='div_title_question_all'>
                <div id='divTitle15' class='div_title_question'>
                    15.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion15'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q15' id='q15_1' value='V' />
                        <label for='q15_1'>
                            一个计划性和组织性很强的人。V
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q15' id='q15_2' value='Z' />
                        <label for='q15_2'>
                            一个能分析情况并寻求具有创新的全新解决方案的人。Z
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div16'>
            <div class='div_title_question_all'>
                <div id='divTitle16' class='div_title_question'>
                    16.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion16'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q16' id='q16_1' value='Z' />
                        <label for='q16_1'>
                            是本领域的专家。Z
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q16' id='q16_2' value='W' />
                        <label for='q16_2'>
                            是一个合格的公民。W
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div17'>
            <div class='div_title_question_all'>
                <div id='divTitle17' class='div_title_question'>
                    17.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion17'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q17' id='q17_1' value='W' />
                        <label for='q17_1'>
                            可以修正自己的目标去满足公司和领导的目标。W
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q17' id='q17_2' value='Y' />
                        <label for='q17_2'>
                            致力于寻找一种方法，使公司的目标和自己的目标一致。Y
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div id='divCut2'>
            <div class='div_title_cut_question'>
                <b>
                    <span style="font-size:18px;">
                        个人的目标是：
                    </span>
                </b>
            </div>
        </div>
        <div class='div_question' id='div18'>
            <div class='div_title_question_all'>
                <div id='divTitle18' class='div_title_question'>
                    18.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion18'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q18' id='q18_1' value='X' />
                        <label for='q18_1'>
                            掌握自己的命运。X
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q18' id='q18_2' value='Y' />
                        <label for='q18_2'>
                            不让工作影响我的个人生活。Y
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div id='divCut3'>
            <div class='div_title_cut_question'>
                <span style="font-size:18px;">
                    重要的是：
                </span>
            </div>
        </div>
        <div class='div_question' id='div19'>
            <div class='div_title_question_all'>
                <div id='divTitle19' class='div_title_question'>
                    19.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion19'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q19' id='q19_1' value='W' />
                        <label for='q19_1'>
                            找到一份稳定而有归属感的工作。W
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q19' id='q19_2' value='Y' />
                        <label for='q19_2'>
                            有时间投入家庭生活以及其他个人活动。Y
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div id='divCut4'>
            <div class='div_title_cut_question'>
                <b>
                    <span style="font-size:18px;">
                        我更愿意：
                    </span>
                </b>
            </div>
        </div>
        <div class='div_question' id='div20'>
            <div class='div_title_question_all'>
                <div id='divTitle20' class='div_title_question'>
                    20.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion20'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q20' id='q20_1' value='V' />
                        <label for='q20_1'>
                            有一份有晋升潜力的工作。V
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q20' id='q20_2' value='Z' />
                        <label for='q20_2'>
                            有机会去处理具有挑战性的问题或工作。Z
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div21'>
            <div class='div_title_question_all'>
                <div id='divTitle21' class='div_title_question'>
                    21.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion21'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q21' id='q21_1' value='V' />
                        <label for='q21_1'>
                            我愿意成为影响力的中心。V
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q21' id='q21_2' value='W' />
                        <label for='q21_2'>
                            我看重长期聘用和接受度，并得到公司的重用。W
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div22'>
            <div class='div_title_question_all'>
                <div id='divTitle22' class='div_title_question'>
                    22.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion22'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q22' id='q22_1' value='V' />
                        <label for='q22_1'>
                            认识正解的人、交正确的朋友同职业发展一样重要。V
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q22' id='q22_2' value='X' />
                        <label for='q22_2'>
                            在自己的兴趣领域去发展自己的职业生涯是关键。X
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div23'>
            <div class='div_title_question_all'>
                <div id='divTitle23' class='div_title_question'>
                    23.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion23'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q23' id='q23_1' value='Y' />
                        <label for='q23_1'>
                            我的底线是在工作和个人生活上得到一种平衡感。Y
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q23' id='q23_2' value='W' />
                        <label for='q23_2'>
                            我的底线是稳定、赏识，在公司的位置有保障。W
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div24'>
            <div class='div_title_question_all'>
                <div id='divTitle24' class='div_title_question'>
                    24.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion24'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q24' id='q24_1' value='X' />
                        <label for='q24_1'>
                            我希望得到的职位拥有最大的自治和自主权。X
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q24' id='q24_2' value='V' />
                        <label for='q24_2'>
                            我愿意处于一个内部的圈子里。V
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div25'>
            <div class='div_title_question_all'>
                <div id='divTitle25' class='div_title_question'>
                    25.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion25'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q25' id='q25_1' value='W' />
                        <label for='q25_1'>
                            我的底线是稳定、赏识，在公司的位置有保障。W
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q25' id='q25_2' value='V' />
                        <label for='q25_2'>
                            我的底线是在公司不断得到提升和发展。V
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div26'>
            <div class='div_title_question_all'>
                <div id='divTitle26' class='div_title_question'>
                    26.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion26'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q26' id='q26_1' value='V' />
                        <label for='q26_1'>
                            衡量事业成功的重要标志：财务成功、更大的权力和威望。V
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q26' id='q26_2' value='Y' />
                        <label for='q26_2'>
                            我认为职业生涯的成功在于：工作、生活以及个人发展达到均衡。Y
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div id='divCut5'>
            <div class='div_title_cut_question'>
                <span style="font-size:18px;">
                    <b>
                        我更希望：
                    </b>
                </span>
            </div>
        </div>
        <div class='div_question' id='div27'>
            <div class='div_title_question_all'>
                <div id='divTitle27' class='div_title_question'>
                    27.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion27'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q27' id='q27_1' value='Z' />
                        <label for='q27_1'>
                            在我所在的领域成为专家。Z
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q27' id='q27_2' value='W' />
                        <label for='q27_2'>
                            被认为可靠而忠诚。W
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div id='divCut6'>
            <div class='div_title_cut_question'>
                <span style="font-size:18px;">
                    <b>
                        我更愿意：
                    </b>
                </span>
            </div>
        </div>
        <div class='div_question' id='div28'>
            <div class='div_title_question_all'>
                <div id='divTitle28' class='div_title_question'>
                    28.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion28'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q28' id='q28_1' value='W' />
                        <label for='q28_1'>
                            在一个团队长期而稳定地工作。W
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q28' id='q28_2' value='Z' />
                        <label for='q28_2'>
                            在一个特别工作组或项目组中，短期内快节奏开展工作。Z
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div29'>
            <div class='div_title_question_all'>
                <div id='divTitle29' class='div_title_question'>
                    29.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion29'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q29' id='q29_1' value='Z' />
                        <label for='q29_1'>
                            职业发展和持续培训本身很重要。Z
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q29' id='q29_2' value='V' />
                        <label for='q29_2'>
                            职业发展非常重要，因为通过这种方式，我可以最终成为一名专家，从而得到更多的灵活度和独立性。V
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
        <div class='div_question' id='div30'>
            <div class='div_title_question_all'>
                <div id='divTitle30' class='div_title_question'>
                    30.
                    <span style='color:red;'>
                        &nbsp;*
                    </span>
                </div>
                <div style='clear:both;'>
                </div>
            </div>
            <div class='div_table_radio_question' id='divquestion30'>
                <div class='div_table_clear_top'>
                </div>
                <ul class='ulradiocheck'>
                    <li style='width:99%;'>
                        <input type='radio' name='q30' id='q30_1' value='Y' />
                        <label for='q30_1'>
                            我的底线是追求个人生活和工作的平衡。Y
                        </label>
                    </li>
                    <li style='width:99%;'>
                        <input type='radio' name='q30' id='q30_2' value='Z' />
                        <label for='q30_2'>
                            我的底线是追求刺激和激励。Z
                        </label>
                    </li>
                    <div style='clear:both;'>
                    </div>
                </ul>
                <div style='clear:both;'>
                </div>
                <div class='div_table_clear_bottom'>
                </div>
            </div>
            <div class='errorMessage'>
            </div>
        </div>
    </fieldset>
  </div>


    <div>
        <tr>
            <td>
                <input type="button"  class="submitbutton" value='提交' onmouseout="this.className='submitbutton';" 
                    id="submit_button" style="padding:0 24px;height:40px;width:150px;font-size:17" />
            </td> 
        </tr>       
    </div>

    <script language = "javascript" src = "js/jquery-1.8.3.min.js"></script>
    <script language = "javascript">
        $(document).ready(function(){
            
            var submit_button = $('#submit_button');
            submit_button.bind('click', function(event) {
                // var formData=$("#form1").serialize();
                var selnum = $(":radio:checked").length;
                console.log(selnum);
                    if( selnum == 30){
                        alert("X（FREE）    ="+$("input[value = 'X']:checked").length 
                        + "\nY（BALANCED）="+$("input[value = 'Y']:checked").length 
                        + "\nZ（HIGH）    ="+$("input[value = 'Z']:checked").length 
                        + "\nW（SECURE）  ="+$("input[value = 'W']:checked").length
                        + "\nV（AHEAD）   ="+$("input[value = 'V']:checked").length);
                    }else{
                        alert("请回答全部问题！");
                    }

                    
                
                // console.log(formData);
            });

        });
        // var $numx = $("input[value = 'X']").length;
        // alert($numx);
    </script>

</body>    
</html>
